body {
  background-color: #CF9DC8;
  background-size: cover;
  background-position: center;
  height: 100%;
  width: 100%;
  margin: 0;
}

.header{
  background-image: url("C:\Users\nicole\OneDrive - National University of Ireland, Galway\college\year 4\Semester2\Final Year Project\newProject\ibs-system-api-front\public\header.jpeg");
}
