body {
  background-color: #CF9DC8; 
  z-index: 1;
}
.header-container {
  position: relative;
  z-index: 1;
}
.headerImage {
  opacity: 0.5;
  size: 100% auto;
  width: 100%;
  height: 450px;
  z-index: 1;
}

.welcomeText {
  position: absolute;
  top: 38%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  font-size: 50px;
  text-align: center;
  text-shadow: 0 0 10px purple;
  font-family: Comic Sans MS;
  color: white;
}
.motto {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  font-size: 20px;
  font-weight: 550;
  text-align: center;
  font-family: Comic Sans MS;
}
.writingOfLogo {
  width: 60px;
  height: 60px;
  margin-right: 5px;
}
.houseOfLogo {
  width: 30px;
  height: 60px;
}

.ribbon {
  position: fixed;
  position: fixed;
  top: 2%;
  left: 50%;
  width: 80%;
  height: 30px;
  z-index: 3;
  transform: translateX(-50%);
  opacity: 1.5;
}

.navbar {
  background-color: white !important;
  padding: 10px;
}

/* about */
.about{
  margin: 100px;
}
.aboutContent {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 20px;
}
.aboutHeader {
  margin-top: -20px;
  margin-bottom: 40px;
  font-size: 40px;
  color: white;
  text-shadow: 0 0 10px purple;
  text-align: center;
  font-family: Comic Sans MS;
}
.aboutImagesArea{
  display: flex;
  align-items: left;
  margin-right: 20px;
}
.about1Image {
  width: 202.5px;
  height: 297px;
  z-index: 1;
  transform: translate(60%,-05%);
}
.about2Image {
  width: 162px;
  height: 244px;
  z-index: 2;
  transform: translate(-100%,50%);
}
.aboutText{
  font-family: Comic Sans MS;
  text-align: left;
  font-weight: 450;
  font-size: 17px;
}
.aboutTextArea{
  margin-left: 20px;
  margin-right: 20px;
  margin-top: -10px;
}
.ssfoptionSection{
  background-color: #E0986F;
  margin-top: 50px;
  margin-bottom: 30px;
  height: 525px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  
}
.ssfPanelImage {
  width: 202.5px;
  height: 297px;
  margin-top: 90px;
  cursor: pointer;
}
.ssfPanels {
  display: flex;
  flex-direction:column;
  align-items: center;
  margin-left: 60px;
  margin-right: 60px;
}
.ssfPanelButton {
  color: white;
  background-color: #973E8E;
  font-family: Comic Sans MS;
  width: 202.5px;
  height: 50px;
  text-align: center;
  border: none;
  margin-bottom: 40px;
  font-weight: 450;
  cursor: pointer;
}
/* mission and vision */
.missionVision{
  background-color: #B26DAA;
  margin-top: 30px;
  margin-bottom: -60px;
}
.missionVisionContent{
  margin: 40px;
}
.missionVisionHeader{
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 40px;
  color: white;
  text-shadow: 0 0 10px purple;
  font-family: Comic Sans MS;
}
.missionVisionEachSection{
  margin-top: 40px;
  margin-bottom: 60px;
}

/* Enroll */
.enrollPanel{
  width: 550px;
  height: 550px;
  background-color: white;
  border-color: white;
  border-radius: 50%;
}
.enrollLogo{
  width: 150px;
  height: 300px;
  margin: 20px;
  margin-bottom: 40px;
}
.enrollContainer{
  margin: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.enrollContent{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 20px;
}
.enrollButton {
  color: white;
  background-color: #973E8E;
  font-family: Comic Sans MS;
  width: 250px;
  height: 50px;
  text-align: center;
  border: none;
  margin-bottom: 40px;
  font-weight: 5000;
  cursor: pointer;
  font-size: 17px;
}

/* Footer */
.footerBorder{
  background-color: white;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  margin-left: 130px;
  margin-right: 130px;
}
.footerImage{
  width: 150px;
  height: 290px;
  margin-right: -40px;
}
.socialSection{
  display: flex;
  flex-direction: row;
  margin-left: -20px;
}
.icon{
  margin-right: 20px;
  margin-left: 20px;
  width: 40px;
  height: 40px;
}
.footerSections{
  display: flex;
  margin: 20px;
}
.footer{
  background-color: #E0986F;
/* padding is space between content in the section and its 
border whereas margin is the space outside the border */
  padding: 60px;
}
.footerCol{
  flex-basis: 33.33%;
}
.navigationHeading{
  font-family: Comic Sans MS;
  color: purple;
}
.navigationContent{
  font-family: Comic Sans MS;
  margin-left: -40px;
}
.socialInfo{
  font-family: Comic Sans MS;
}

/* Card flipper */
.flipContainer{
  /* depth (distance from the camera) - used for 3D CSS */
  perspective: 1000px;  
}
.flipper{
  width: 330px;
  height: 250px;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.6s;
}
.front,
.back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}
.front{
  z-index: 2;
}
.back{
  transform: rotateY(180deg);
}
.flipContainer:hover .flipper{
  transform: rotateY(180deg);
}
.cardContent{
  padding: 20px;
  background-color: white;
  font-family: Comic Sans MS;
  color: purple;
}